attrs >=17.4
bump2version >=0.5.11
check-manifest >=0.36
doc8
flake8
graphviz
invoke >=0.14
ipykernel
ipython >=5.8
isort
m2r
black >=23.0, <24.0
nbsphinx
pydocstyle
pytest >=3.2
pytest-mock
sphinx_compas2_theme
sphinx ==7.1.2
twine
matplotlib
Rtree
compas_invocations
-e .
