name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ['3.12']

    steps:
      - uses: compas-dev/compas-actions.build@v4
        with:
          invoke_lint: true
          check_import: false
          use_conda: false
          invoke_test: true
          python: ${{ matrix.python }}

  Publish:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: compas-dev/compas-actions.publish@v3
        with:
          publish_to_pypi: true
          pypi_token: ${{ secrets.PYPI }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          python: '3.12'
